1. Load the dataset using pandas  
2. Extract data from Outcome column is a variable named Y  
3. Extract data from every column except Outcome column in a variable named X  
4. Divide the dataset into two parts for training and testing in 70% and 30% proportion  
5. Create and train Na√Øve Bayes Model on training set  
6. Make predictions based on the testing set using the trained model  
7. Check the performance by calculating the confusion matrix and accuracy score of the model

In [90]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score
from sklearn import metrics

In [91]:
diabetes = pd.read_csv("diabetes.csv")
diabetes.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [92]:
Y= diabetes["Outcome"]
Y

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [93]:
X=diabetes.loc[ : ,diabetes.columns !="Outcome"]
X

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33
...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63
764,2,122,70,27,0,36.8,0.340,27
765,5,121,72,23,112,26.2,0.245,30
766,1,126,60,0,0,30.1,0.349,47
767,1,93,70,31,0,30.4,0.315,23

In [94]:
target=diabetes.Outcome
inputs=diabetes.drop('Outcome', axis="columns")

In [117]:
X_train, X_test, Y_train, Y_test = train_test_split(inputs, target, test_size=0.3)

In [118]:
len(X_train),len(X_test),len(Y_train),len(Y_test)

(537, 231, 537, 231)

In [119]:
from sklearn.naive_bayes import GaussianNB
model=GaussianNB()

In [120]:
model.fit(X_train,Y_train)

GaussianNB()

In [121]:
X_test[:10]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
365,5,99,54,28,83,34.0,0.499,30
62,5,44,62,0,0,25.0,0.587,36
230,4,142,86,0,0,44.0,0.645,22
737,8,65,72,23,0,32.0,0.600,42
68,1,95,66,13,38,19.6,0.334,25
618,9,112,82,24,0,28.2,1.282,50
564,0,91,80,0,0,32.4,0.601,27
182,1,0,74,20,23,27.7,0.299,21
692,2,121,70,32,95,39.1,0.886,23
652,5,123,74,40,77,34.1,0.269,28

In [122]:
Y_test[:10]

365    0
62     0
230    1
737    0
68     0
618    1
564    0
182    0
692    0
652    0
Name: Outcome, dtype: int64

In [123]:
model.predict(X_test[:10])

array([0, 0, 0, 0, 0, 1, 0, 0, 0, 0], dtype=int64)

In [124]:
X_train.shape,X_test.shape,Y_train.shape,Y_test.shape

((537, 8), (231, 8), (537,), (231,))

In [125]:
Y_pred=model.predict(X_test)

In [126]:
metrics.accuracy_score(Y_test,Y_pred)

0.7402597402597403

In [127]:
test_pred = model.predict(X_test)
print(metrics.classification_report(Y_test,test_pred))
print(metrics.confusion_matrix(Y_test,test_pred))

              precision    recall  f1-score   support

           0       0.78      0.85      0.81       152
           1       0.65      0.53      0.58        79

    accuracy                           0.74       231
   macro avg       0.71      0.69      0.70       231
weighted avg       0.73      0.74      0.73       231

[[129  23]
 [ 37  42]]