1. Load the dataset using pandas  
2. Extract data fromOutcome column is a variable named Y  
3. Extract data from every column except Outcome column in a variable named X.  
4. Divide the dataset into two parts for training and testing in 70% and 30% proportion  
5. Create and train Random Forest Model on training set  
6. Make predictions based on the testing set using the trained model  
7. Check the performance by calculating the confusion matrix and accuracy score of the model

In [12]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score

In [13]:
diabetes = pd.read_csv("diabetes.csv")
diabetes

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [14]:
y= diabetes["Outcome"]
y

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [15]:
diabetes.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [17]:
X=diabetes.loc[ : ,diabetes.columns !="Outcome"]
X

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33
...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63
764,2,122,70,27,0,36.8,0.340,27
765,5,121,72,23,112,26.2,0.245,30
766,1,126,60,0,0,30.1,0.349,47
767,1,93,70,31,0,30.4,0.315,23

In [56]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=12)

In [57]:
X_test

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
229,0,117,80,31,53,45.2,0.089,24
235,4,171,72,0,0,43.6,0.479,26
750,4,136,70,0,0,31.2,1.182,22
365,5,99,54,28,83,34.0,0.499,30
449,0,120,74,18,63,30.5,0.285,26
...,...,...,...,...,...,...,...,...
632,2,111,60,0,0,26.2,0.343,23
688,1,140,74,26,180,24.1,0.828,23
537,0,57,60,0,0,21.7,0.735,67
298,14,100,78,25,184,36.6,0.412,46
753,0,181,88,44,510,43.3,0.222,26

In [58]:
X_train

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
360,5,189,64,33,325,31.2,0.583,29
655,2,155,52,27,540,38.7,0.240,25
323,13,152,90,33,29,26.8,0.731,43
205,5,111,72,28,0,23.9,0.407,27
111,8,155,62,26,495,34.0,0.543,46
...,...,...,...,...,...,...,...,...
642,6,147,80,0,0,29.5,0.178,50
241,4,91,70,32,88,33.1,0.446,22
253,0,86,68,32,0,35.8,0.238,25
390,1,100,66,29,196,32.0,0.444,42
667,10,111,70,27,0,27.5,0.141,40

In [59]:
len(X_test),len(X_train),len(y_test),len(y_train)

(231, 537, 231, 537)

In [80]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators=17,max_depth=10)
model.fit(X_train,y_train)

RandomForestClassifier(max_depth=10, n_estimators=17)

In [81]:
model.score(X_test,y_test)

0.7792207792207793

In [82]:
y_predicted = model.predict(X_test)
y_predicted

array([0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1,
       0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0,
       1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0,
       1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1], dtype=int64)

In [83]:
cm= confusion_matrix(y_test,y_predicted)
cm

array([[126,  21],
       [ 30,  54]], dtype=int64)

In [1]:
class Bird:

    def intro(self):
        print("There are many types of birds.")

    def flight(self):
        print("Most of the birds can fly but some cannot.")

class sparrow(Bird):

    def flight(self):
        print("Sparrows can fly.")

class ostrich(Bird):

    def flight(self):
        print("Ostriches cannot fly.")

obj_bird = Bird()
obj_spr = sparrow()
obj_ost = ostrich()

obj_bird.intro()
obj_bird.flight()

obj_spr.intro()
obj_spr.flight()

obj_ost.intro()
obj_ost.flight()

There are many types of birds.
Most of the birds can fly but some cannot.
There are many types of birds.
Sparrows can fly.
There are many types of birds.
Ostriches cannot fly.

In [3]:
class Harshit:

	# default constructor
	def __init__(self):
		self.har = "Harshit"

	# a method for printing data members
	def print_har(self):
		print(self.har)


# creating object of the class
obj = Harshit()

# calling the instance method using the object obj
obj.print_har()

Harshit

In [6]:
import numpy as np
def compute(k):
 m=np.mean(k)
 n=np.std(k)
 dict={"mean":m,"std":n}
 return dict
k=np.array([1,2,3,4,5,6,7,8,9,10])
print(compute(k))

{'mean': 5.5, 'std': 2.8722813232690143}